APP_HOST=127.0.0.1
APP_PORT=8000
APP_DB_PATH=data/app.db
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini
IMPORT_DB_HOST=nas.biochao.cc
IMPORT_DB_PORT=5432
IMPORT_DB_USER=hanzy
IMPORT_DB_PASSWORD=260203
IMPORT_DB_NAME=PMAID-FDZS
IMPORT_DB_ADMIN_NAME=postgres
IMPORT_CACHED_SUMMARY_ROOT=C:\Users\HP\AppData\Roaming\zspace\zspaceDocCache
IMPORT_DOWNLOADED_ROOT=D:\tmp
